@model PizzaBox.Client.Models.UserViewModel

<h1>Hello, @ViewData["Username"]!</h1>

<a href="/Account/Logout">Logout</a>
<a href="/User/History">Order History</a>
<a href="/User/Order">Place Order</a>
